@page


<div class="text-center">
   
    <div class="mt-5">
        <input type="text" title="dfdd"  id="message" />
        <input type="button" id="sendmessage" value="send"/>
    </div>
    <div class="mt-3">
        <ul id="discussion"></ul>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/wordshub").build();
    connection.start();
    document.getElementById("sendmessage").addEventListener("click", function (event) {
        var label = document.getElementById("message").value;
        var outcome = document.getElementById("message").value;
        connection.invoke("SendMessage",label,outcome).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });
    connection.on("RecieveMessage", function (label,outcome) {
        var display = label + ": " + outcome;
        var li = document.createElement("li");
        li.textContent = display;
        document.getElementById("discussion").appendChild(li);
        console.log(message);
    });
    
</script>