@page


<div class="text-center">
   
    <div class="mt-5">
        <input type="button" id="start" value="Start" />
    </div>
    <div class="mt-3">
        <ul id="results"></ul>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/wordshub").build();
    connection.start();
   
    document.getElementById("start").addEventListener("click", function (event) {

        $.ajax({
            url: '/Home/Start',
            success: function (data) {
               
            },
            statusCode: {
                404: function (content) { alert('cannot find resource'); },
                500: function (content) { alert('internal server error'); }
            },
            error: function (req, status, errorObj) {

            }
        });
        event.preventDefault();
    });

    connection.on("RecieveMessage", function (processedWords) {
        
        var li = document.createElement("li");
        li.textContent = "number of words:"+ processedWords.numberOfWords;
        document.getElementById("results").appendChild(li);
        var li = document.createElement("li");
        li.textContent = "number of charectors:" + processedWords.numberOfCharectors;
        document.getElementById("results").appendChild(li);
        var li = document.createElement("li");
        li.textContent = "five smallest words:" + processedWords.smallestWords;
        document.getElementById("results").appendChild(li);
        var li = document.createElement("li");
        li.textContent = "five largest words:" + processedWords.largestWords;
        document.getElementById("results").appendChild(li);
        var li = document.createElement("li");
        li.textContent = "most frequent 10 words:" + processedWords.mostFrequent10Words;
        document.getElementById("results").appendChild(li);
        var li = document.createElement("li");
        li.textContent = "charectors sorted by frequency descendently:" + processedWords.charectorOrderbyFrequency;
        document.getElementById("results").appendChild(li);
        
    });
    
</script>
