@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
    <input type="text" id="displayname"/>
    </div>
    <div class="mt-5">
        <input type="text" id="message"/>
        <input type="button" id="sendmessage" value="send"/>
    </div>
    <div class="mt-3">
        <ul id="discussion"></ul>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/wordshub").build();
    connection.start().catch(function (err) {
        document.getElementById("sendmessage").addEventListener("click", function (event) {
            var user = document.getElementById("displayname").value;
            var message = document.getElementById("message").value;
            connection.invoke("SendMessage", user, message).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        });
        connection.on("RecieveMessage", function (user, message) {
            var encodeMsg = user + "  " + message;
            var li = document.createElement("li");
            li.textContent = encodeMsg;
            document.getElementById("discussion").appendChild(li);
            console.log(message);
        });
    });
</script>